* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(38, 40, 39);
  color: white;
  /* overflow: hidden; */
  /* color: wheat; */
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* globals */
.about-icon {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  z-index: 1000;
}
.about-icon:hover {
  color: #ff9f1a;
}
.social-links {
  position: fixed;
  top: 1rem;
  left: 2rem;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.social-links > .back {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  display: none;
}
/* card styles */
.filmography {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 2rem;
}
.cardContainer .heading {
  font-size: 1.6rem;
  padding-block: 0.9rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 1.7rem;
}
.card {
  position: relative;
  border-radius: 0.6rem;
  overflow: hidden;
}

.card figure {
  width: 100%;
  overflow: hidden;
  border-radius: 0.6rem;
  transition: 0.2s ease-in-out;
}
.card .status {
  position: absolute;
  top: 0.8rem;
  left: 0;
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  background-color: #ff9f1a;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.card img {
  width: 100%;
  transition: 0.2s ease-in-out;
}
.card:hover img {
  scale: 1.15;
}
.card .title {
  position: absolute;
  bottom: 0.8rem;
  /* background-color: red; */
  left: 0;
  right: 0;
  font-size: 0.8rem;
  text-align: center;
  margin: 0.2rem;
}
.card .title span {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.2rem 0.4rem;
  white-space: nowrap;
}

.card .episodes {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .info {
  /* display: none; */
  position: absolute;
  bottom: 2.2rem;
  height: 1rem;
  left: 0;
  right: 0;
  text-align: center;
}
@media only screen and (max-width: 300px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .filmography {
    padding: 4rem 1rem;
  }
}
