---
import { Image } from "astro:assets";
import img from "../assets/img/1.png";
import { Icon } from "astro-icon/components";
import "../styles/global.css";

import About from "../components/About.astro";
import MediaLinks from "../components/MediaLinks.astro";
import Tabs from "../components/Tabs";
import Carousel from "../components/Carousel.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Xu Kai</title>
    <script>
      import "../scripts/main.js";
    </script>
  </head>
  <body>
    <About />
    <span class="about-icon" data-menu>
      <Icon name="mdi:menu" />
    </span>

    <div class="social-links">
      <MediaLinks />
    </div>

    <div class="container">
      <section class="landing">
        <div class="box">
          <div class="banner">
            <div class="carousel-container">
              <Carousel />
            </div>
          </div>
          <div class="left">
            <h1>Xu Kai <span>( 许凯 )</span></h1>
            <!-- <h2>Chinese Actor</h2> -->
            <p>
              Xu Kai is a Chinese actor and model from Shenzhen who started his
              career by winning a modeling contest in 2013. He transitioned to
              acting with Huanyu Film in 2016 and gained acclaim for his role in
              Arsenal Military Academy, winning awards for his performance.
            </p>
            <div class="filmography">
              <div class="rect">
                <h4>21</h4>
                <p>TV Shows</p>
              </div>
              <div class="rect">
                <h4>1</h4>
                <p>Movies</p>
              </div>
              <div class="rect">
                <h4>1</h4>
                <p>Variety Shows</p>
              </div>
            </div>
          </div>
          <figure class="right">
            <Image src={img} alt="cover" format="avif" />
          </figure>
        </div>
      </section>
      <div class="carousel">
        <Carousel />
      </div>
    </div>
  </body>
</html>

<style>
  .about-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
  }
  .about-icon:hover {
    color: #ff9f1a;
  }
  .social-links {
    position: fixed;
    top: 1rem;
    left: 2rem;
  }

  .landing {
    height: 100dvh;
  }

  .box {
    display: flex;
    justify-content: space-around;
    height: 100%;
  }
  .box > * {
  }
  .banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -3;
    display: flex;
  }

  .carousel-container {
    width: 80%;
  }
  .banner::before {
    content: ""; /* Required to make the pseudo-element appear */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(
      to left,
      rgba(38, 40, 39, 1) 0%,
      rgba(38, 40, 39, 1) 20%,
      rgba(0, 0, 0, 0.6) 60%,
      rgba(0, 0, 0, 0.3) 100%
    );
    pointer-events: none; /* Allows clicks to pass through the overlay */
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
    padding: 2rem;
    flex: 3;
  }
  .left h1 {
    font-size: clamp(2rem, 10vw, 5rem);
  }
  .left h1 > span {
    font-size: clamp(0.2em, 5vw, 0.5em);
  }
  .left h2 {
    font-size: clamp(2rem, 10vw, 2rem);
  }
  .left > p {
    line-height: 1.4rem;
    text-align: center;
  }
  .filmography {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
  }
  .rect {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    cursor: pointer;
  }
  .rect:hover p {
    text-decoration: underline;
  }
  .rect h4 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
  }
  .rect p {
    font-size: 0.85rem;
  }
  .right {
    display: flex;
    justify-content: space-around;
    align-items: end;
    flex: 2;
    position: relative;
  }
  .right img {
    /* width: 80%; */
    object-fit: contain;
  }

  header {
    height: 40px;
    background-color: #ff9f1a;
    position: sticky;
    top: 0;
  }
  .main {
    height: 150dvh;
  }
  .carousel {
    display: none;
  }

  @media only screen and (max-width: 786px) {
    .right::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 20%,
        transparent 60%,
        rgba(38, 40, 39, 0.6) 80%,
        rgba(38, 40, 39, 0.8) 90%,
        rgba(38, 40, 39, 1) 100%
      );
    }
    .landing {
      height: auto;
    }
    .box {
      flex-direction: column-reverse;
    }
    .right {
      position: relative;
    }
    .right img {
      width: 75%;
      height: auto;
      object-fit: contain;
    }
    @keyframes fadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .filmography {
      margin-top: 1rem;
      gap: 1rem;
    }
    .social-links {
      display: none;
    }
    .banner {
      display: none;
    }

    .carousel {
      height: 250px;
      display: block;
    }
  }
</style>

<script></script>
