---
import { Image } from "astro:assets";
import img from '../assets/img/1.png'
import '../styles/global.css'


---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Xu Kai</title>
  </head>
  <body>
    <div class="container">
      <section class="landing">
            <header></header>
            <div class="box">
              <div class="left">
                <h1>Xu Kai <span>( 许凯
                  )</span></h1>
                <!-- <h2>Chinese Actor</h2> -->
                <p>Xu Kai is a Chinese actor and model from Shenzhen who started his career by winning a modeling contest in 2013. He transitioned to acting with Huanyu Film in 2016 and gained acclaim for his role in Arsenal Military Academy, winning awards for his performance.</p>
                <div class="filmography">
                  <div class="rect">
                    <h4>21</h4>
                    <p>TV Shows</p>
                  </div>
                  <div class="rect">
                    <h4>1</h4>
                    <p>Movies</p>
                  </div>
                  <div class="rect">
                    <h4>1</h4>
                    <p>Variety Shows</p>
                  </div>
                </div>
              </div>
              <figure class="right">
                <Image src={img} alt="cover" format="avif"/>
              </figure>
            </div>
      </section>
    </div>
  </body>
</html>


<style>
  .landing {
    height: 100dvh;
    
  }

  header {
    
  }
  .box {
    display: flex;
    justify-content: space-around;
    height: 100%;
  }
  .box > * {
    flex: 1;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
   padding: 2rem;
  }
  .left h1 {
    font-size: clamp(2rem, 10vw, 5rem)
  }
  .left h1 > span {
    font-size: 0.5em;
  }
  .left h2 {
    font-size: clamp(2rem, 10vw, 2rem)
  }
  .left  > p {
   
    line-height: 1.4rem;
    text-align: center;
  }
  .filmography {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
  }
  .rect {
    /* flex: 1; */
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .rect h4 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: .3rem;
  }
  .rect p {
    font-size: .85rem;
  }
  .right {
    display: flex;
    justify-content: space-around;
    align-items: end;
  
   
  }
  .right img {
    object-fit: contain;
  }

  @media only screen and (max-width: 786px) {
    .landing {
   height: auto;
    
  }
    .box {
    flex-direction: column-reverse;
  }
  .right {
    
  }
  .right img {
    width: 75%;
    height: auto;
    object-fit: contain;
    
    
  }
  @keyframes fadein {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
    
  }
  .filmography {
    margin-top: 1rem;
    gap: 1rem;
  }
}
</style>