---
import { Icon } from 'astro-icon/components'
import MediaLinks from './MediaLinks.astro'
---

<div class="about" data-about>
    <Icon name="mdi:close-octagon" data-cancel class="cancel" />
    <div class="content"></div>
   <div class="social-links">
    <MediaLinks />
   </div>
</div>

<style>
    .about {
        z-index: 100;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: min(300px,70%);
        background-color: white;
        transform: translateX(100%);
        transition: transform 0.2s ease-in-out;
        padding-block: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
    }
    .cancel {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: red;
        font-size: 1.5rem;
        cursor: pointer;
        
    }
    .social-links {
        margin-top: auto;
    }
</style>