---
import Card from "./Card.astro";

const { data, heading } = Astro.props;
---

<div class="cardContainer">
  <h4 class="heading">{heading}</h4>
  <div class="grid">
    {data.map((item: any) => <Card item={item} />)}
  </div>
</div>
