---
import Card from "./Card.astro";

const { data, heading } = Astro.props;
---

<div class="cardContainer">
  <div class="head">
    <h4 class="heading">{heading}</h4><span class="number">{data.length}</span>
  </div>
  <div class="grid">
    {data.map((item: any) => <Card item={item.data} />)}
  </div>
</div>
<style>
  .head {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .number {
    height: 0.9rem;
    width: 0.9rem;
    border-radius: 50%;
    font-size: 0.6rem;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
</style>
