---
import { Image } from "astro:assets";

const { item } = Astro.props;
---

<a href={item.link}>
  <div class="carditem">
    <figure class="circle">
      {item.img && <Image src={item.img} alt={item.name} />}
    </figure>
    <p>Watch on {item.name}</p>
  </div>
</a>

<style>
  .carditem {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    transition: transform 0.3s linear;
  }
  .circle {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    transition: 0.3s linear;
  }
  .carditem:hover .circle {
    transform: scale(1.1);
  }
  .circle img {
    height: 100%;
    width: 100%;
  }
</style>
