---
const { top } = Astro.props;
---

<div class={`shade ${!top ? "" : "hide"}`}>
  <slot />
</div>

<style>
  .shade {
    position: relative;
    overflow: hidden; /* Ensure the pseudo-elements do not affect the layout */
    /* Set a background color for the content area */
  }

  .shade::before,
  .shade::after {
    z-index: 2000;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 3rem; /* Adjust the height of the shade */
    pointer-events: none; /* Ensure it doesn't interfere with mouse events */
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      /* Fully transparent at the bottom */ rgba(0, 0, 0, 0.1) 20%,
      /* Very faint dark gray */ rgba(0, 0, 0, 0.3) 40%,
      /* Dark gray */ rgba(0, 0, 0, 0.5) 60%,
      /* More visible dark gray */ rgba(0, 0, 0, 0.7) 80%,
      /* Even more visible dark gray */ rgba(0, 0, 0, 0.9) 100%
        /* Almost solid black at the top */
    );
  }

  .shade::before {
    top: 0;
  }

  .shade::after {
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      /* Fully transparent at the bottom */ rgba(0, 0, 0, 0.1) 20%,
      /* Very faint dark gray */ rgba(0, 0, 0, 0.3) 40%,
      /* Dark gray */ rgba(0, 0, 0, 0.5) 60%,
      /* More visible dark gray */ rgba(0, 0, 0, 0.7) 80%,
      /* Even more visible dark gray */ rgba(0, 0, 0, 0.9) 100%
        /* Almost solid black at the top */
    );
  }
  .hide::before {
    display: none;
  }
</style>
