---
import { Icon } from "astro-icon/components";
import "../styles/global.css";

import About from "../components/About.astro";
import MediaLinks from "../components/MediaLinks.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Xu Kai</title>
    <script>
      import "../scripts/main.js";
    </script>
  </head>
  <body>
    <About />
    <span class="about-icon" data-menu>
      <Icon name="mdi:menu" />
    </span>

    <div class="social-links">
      <a class="back" href="/"><Icon name="mdi:arrow-left-bold" /></a>
      <MediaLinks />
    </div>

    <div class="container">
      <slot />
    </div>
  </body>
</html>

<script>
  const path = window.location.pathname;
  const backbtn = document.querySelector(".back") as HTMLSpanElement;
  console.log(path);
  if (path === "/" || path.length === 0) {
    backbtn.style.display = "none";
  } else {
    backbtn.style.display = "flex";
    backbtn.setAttribute("href", "/");
  }
</script>
