---
import { Icon } from "astro-icon/components";
import "../styles/global.css";

import About from "../components/About.astro";
import Header from "../components/Header.astro";
const { title = "", isHome = true } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="google-adsense-account" content="ca-pub-7934251751155949" />
    <meta
      name="google-site-verification"
      content="8F9eeTHW2D68P3YEj9mQu34xyFUh2Er_j4HXn9BTFfE"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="This website is dedicated to Xu Kai, the Chinese actor. Discover his works, latest news, awards, and detailed information on each of his TV shows, movies, and variety shows."
    />

    <title>Xu Kai {title.length > 0 && `| ${title}`}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins"
    />
    <script>
      import "../scripts/main.js";
    </script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7934251751155949"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <About />
    <Header title={title} isHome={isHome} />

    <div class="container">
      <slot />
    </div>
  </body>
</html>
