---
import Filmography from "../../components/Filmography.astro";
import Layout from "../../layout/layout.astro";
---

<Layout title="Filmography">
  <div>
    <Filmography />
  </div>
</Layout>

<style>
  .head {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    font-size: clamp(2rem, 10vw, 3rem);
    /* padding: 9rem; */
  }
  @media only screen and (max-width: 768px) {
    .media-links {
      display: none;
    }
  }
</style>
